base_path          /data/transient/AUTOGLASS                       #用来存储所有观测文件,处理文件的目录
bands              L,R,G,B                                                 #使用的滤镜轮波段,必须是在观测时命名且在头文件中出现的
obs_location       117.566,40.383,1000                                      #观测站位置,分别为经度,纬度,高度
process_mode       set_date                                                 #read_date表示按系统日期读取日期,set_date表示手动设置日期
process_date_begin 2024-10-18                                               #开始日期,格式为yyyy-mm-dd,只有在process_mode为set_date时才生效
process_date_end   2024-10-23                                               #结束日期
solve_field_cmd    /data/transient/anaconda3/envs/astro39/bin/solve-field   #solve-field命令
sextractor_cmd     /data/transient/anaconda3/bin/source-extractor           #sextractor命令
scamp_cmd          /data/transient/anaconda3/bin/scamp                      #scamp命令
swarp_cmd          /data/transient/anaconda3/bin/swarp                      #swarp命令
hotpants_cmd       /data/transient/software/hotpants-master/hotpants        #hotpants命令
run_cpu            20                                                       #并行运算最大进程数
xregion            4                                                        #图像裁剪进行并行运算的x轴切块数
yregion            3                                                        #图像裁剪进行并行运算的y轴切块数

# pixel scale in arcsec/pixel
TELESCOPE_NAME xinglongf203   folder Survey_xl203   radius 0.790 deg pixel_scale 1.29
TELESCOPE_NAME TOA130         folder Survey_xl130   radius 1.253 deg pixel_scale 0.784
TELESCOPE_NAME eps180         folder Survey_xl180   radius 1.609 deg pixel_scale 1.54
TELESCOPE_NAME 106            folder Survey_xl106   radius 2.336 deg pixel_scale 1.46
TELESCOPE_NAME skywatcher150  folder Survey_gs150   radius 0.67  deg pixel_scale 0.73
TELESCOPE_NAME ?250           folder Survey_xl250   radius 0.315 deg pixel_scale 0.301
TELESCOPE_NAME xl130apo-2     folder Survey_xl130-2 radius 1.363 deg pixel_scale 0.853
